.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.nav-toolbar{
  background: linear-gradient(rgb(7, 156, 224),#007bce);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.4);
  // -webkit-box-shadow: inset 0 6 0px ;
  .logo{
    width: 100px;
  }
}

.sidenav-style{
  background-color: #fff;
  color: #323131;
}

.nav-list-style{
  a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #323131;
    font-weight: 600;
    font-size: 16px;
    .icon-spacer {
      padding-right: 15px;
    }
  }
  a:hover {
    color: #fff;
  }
}
  

.selected-menu{
  color: #d50000;
  border-right: 5px solid #d50000;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.mat-list-item:hover {
  border-right: 5px solid #d50000;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: #B42000;
  
}

.bg {
  background: #ecf9ff;
  .nav-toolbar {
    width: 100%;
    //height: 100%;
    
    .login-container {
      display: flex;
      width: 20%;
      height: 100%;
      margin-left: auto;
      justify-content: center;
      align-items: center;
      
      .icon-container {
        .noti-btn {
          position: absolute;
          z-index: 3;
          cursor: pointer;
          width: 40px;
          height: 40px;
        }

        .num-noti {
          position: absolute;
          z-index: 1;
          width: 17px;
          height: 17px;
          border-radius: 10px;
          background: red;
          font-size: 11px;
          right:  12.7%;
          top:15px;
          //color: #fff;
          
        }
  
        .num-text {
          position: absolute;
          z-index: 2;
          color: #fff;
          right: 13%;
          font-size: 14px;
          top: 7px;
          font-weight: 600;
        }

        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        color: #fff;
        justify-content: center;
        align-items: center;
        
        .noti-icon {
          font-size: 30px;
          cursor: pointer;
        }
        
      }
      .login {
        display: flex;
        flex-direction: column;
        width: 30%;
        font-size: 15px;
        font-weight: 600;
        text-align: right;
        color: #fff;
        cursor: pointer;
      }
    }

    .noti-container {
      position: absolute;
      z-index: 3;
      width: 250px;
      height: 300px;
      background: #fff;
      right: 10px;
      border-radius: 7px;
      border: 1px solid black;
      top: 50px;
      .head-notification {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30px;
        padding-left: 2.5%;
        .text {
          font-size: 14px;
          font-weight: 600;
          width: 22%;
          height: 100%;
        }
        .line {
          height: 50%;
          width: 70%;
          border-bottom: 1px solid #007bce;
        }
      }
    }
  }
}